@using PocketSummonner.Models.BDD
@model List<Joueur>
@{
    ViewBag.Title = "Profil de l'invocateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="~/Content/profil.css" rel="stylesheet" />
<div style="background-color: beige; height: 100vh;">
    <div class="container-fluid" id="mainContainer">
        <div class="container">
            <div class="row pt-5">
                <div class="imgProfile">
                    <img src="http://ddragon.leagueoflegends.com/cdn/10.5.1/img/profileicon/3898.png" alt="Alternate Text" />
                    <span class="level">61</span>
                </div>

                <div class="col-4 playerInfo">
                    <p class="playerName">Zorvan <span class="text-secondary">EUW1</span></p>
                    <p class="rank">Diamand II</p>
                </div>
            </div>
        </div>
        <div class="container statsContainer">
            <div class="row">
                <div class="col-8">
                    @foreach (Joueur j in Model)
                    {
                        <div class="gameHistory @(j.Victoire?"victory":"defeat") pt-3 ">
                            <div class="historyHeader">
                                <span>@j.Partie.TypePartie</span>
                                <span>@(Math.Round(j.Partie.Duree / (double)60, 0))min</span>
                                <span>@j.Partie.DatePartie.ToShortDateString()</span>
                            </div>
                            <div class="history">
                                <img style="margin: auto 0 auto 10px; display: block;" height="100" width="100" src="@j.Champion.Image" alt="Alternate Text" />
                                <div class="spells">
                                    <img height="50" width="50" src="@j.Sort1.UrlImage" /><img height="50" width="50" src="@j.Sort2.UrlImage" />
                                </div>
                                <div class="items">
                                    <div class="line">
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(0) != null ? j.Equipements.ElementAt(0).Image : "/Content/img/assets/empty.png")" />
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(1) != null ? j.Equipements.ElementAt(1).Image : "/Content/img/assets/empty.png")" />
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(2) != null ? j.Equipements.ElementAt(2).Image : "/Content/img/assets/empty.png")" />
                                    </div>
                                    <div class="line">
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(3) != null ? j.Equipements.ElementAt(3).Image : "/Content/img/assets/empty.png")" />
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(4) != null ? j.Equipements.ElementAt(4).Image : "/Content/img/assets/empty.png")" />
                                        <img width="40" src="@(j.Equipements.ElementAtOrDefault(5) != null ? j.Equipements.ElementAt(5).Image : "/Content/img/assets/empty.png")" />
                                    </div>
                                </div>
                                <div class="score">
                                    <div class="kda">
                                        <span><strong class="text-success">@j.NbTue</strong> / <strong class="text-danger">@j.NbMort</strong> / <strong class="text-primary">@j.NbAssist</strong></span>
                                    </div>

                                    <div class="creeps">
                                        <span>
                                            <strong class="text-warning">LVL @j.Level</strong> / <strong class="text-secondary">@j.NbSbire CS</strong>
                                            @*<img width="30" height="25" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" alt="Alternate Text" />*@
                                        </span>
                                    </div>

                                    <div class="kdaPrct">
                                        <span class="text-secondary">@j.KDA KDA</span>
                                    </div>

                                </div>
                                <div class="players">
                                    <div class="team">
                                        @foreach (Joueur joueur in j.Partie.Joueurs.Where(x => x.EquipeId == 100))
                                        {
                                            <div>
                                                <img src="@joueur.Champion.Image" alt="Alternate Text" />
                                                <span>@joueur.Invocateur.Name</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="team">
                                        @foreach (Joueur joueur in j.Partie.Joueurs.Where(x => x.EquipeId == 200))
                                        {
                                            <div>
                                                <img src="@joueur.Champion.Image" alt="Alternate Text" />
                                                <span>@joueur.Invocateur.Name</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-4 border">
                    <div class="row">
                        <div class="col-12">
                            <div id="donutchart" style="width: 100%; height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 11],
                ['Eat', 2],
                ['Commute', 2],
                ['Watch TV', 2],
                ['Sleep', 7]
            ]);

            var options = {
                title: 'My Daily Activities',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>



}