@using PocketSummonner.Models.Profil
@using PocketSummonner.Models.BDD
@model ProfilModel
@{
    ViewBag.Title = "Profil";
    string urlProfil = "http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/";
    Invocateur invocateur = Model.DernieresParties.First().Invocateur;
}

@section styles{
    <style>
        body {
            color: white;
            background-color: #292a60;
        }

        .txt1 {
            color: beige;
        }

        .txt2 {
            color: #bcb7be;
            font-size: 0.9em;
        }

        .profilName {
            color: white;
        }

        .victory {
            color: #00cb00;
        }

        .defeat {
            color: red;
        }

        .card {
            border: none !important;
        }

        .card-body {
            background-color: #29476e;
        }

        .card-header {
            background-color: #123a60;
        }

        .game {
            background-color: #00144b;
            margin: 5px;
            padding: 5px 0 5px 0;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

            .game.d {
                border-left: 4px solid red;
            }
            .game.v {
                border-left: 4px solid green;
            }

            .game > div {
                margin: auto 0 auto 0;
            }

        .line {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
        }

            .line > img {
                border: 1px solid black;
                height: 35px;
                width: 35px;
                border-radius: 10px;
                margin-right: 10px;
            }

        .champion {
            display: flex;
            flex-direction: row;
        }

            .champion div:first-child img {
                height: 80px;
                width: 80px;
            }

        .spells {
            display: flex;
            flex-direction: column;
        }

            .spells img {
                height: 40px;
            }

        .players {
            display: flex;
            flex-direction: row;
            width: 200px;
        }

        .player {
            display: flex;
            flex-direction: row;
        }

            .player > img {
                width: 20px;
                height: 20px;
                padding: 2px;
            }


        .column {
            display: flex;
            flex-direction: column;
            margin-right: 2px;
            overflow: hidden;
            width: 190px !important;
        }


        .rank {
            display: flex;
            flex-direction: row;
        }

            .rank > div:first-child {
                margin-right: 15px;
            }

        .playerName {
            width: 180px;
            white-space: nowrap;
        }

        .lvl {
            position: relative;
            top: -15px;
            left: 28px;
            background-color: gold;
            padding: 5px;
            border-radius: 10px;
            font-size: 0.7em;
        }

        .imgProfile {
            border: 2px solid gold;
        }

        /*
        *
        * ==========================================
        * CUSTOM UTIL CLASSES
        * ==========================================
        *
        */

        .progress {
            width: 100px;
            height: 100px;
            background: none;
            position: relative;
        }

            .progress::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 6px solid #eee;
                position: absolute;
                top: 0;
                left: 0;
                border-color: darkgrey;
            }

            .progress > span {
                width: 50%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                z-index: 1;
            }

            .progress .progress-left {
                left: 0;
            }

            .progress .progress-bar {
                width: 100%;
                height: 100%;
                background: none;
                border-width: 6px;
                border-style: solid;
                position: absolute;
                top: 0;
            }

            .progress .progress-left .progress-bar {
                left: 100%;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;
                border-left: 0;
                -webkit-transform-origin: center left;
                transform-origin: center left;
            }

            .progress .progress-right {
                right: 0;
            }

                .progress .progress-right .progress-bar {
                    left: -100%;
                    border-top-left-radius: 80px;
                    border-bottom-left-radius: 80px;
                    border-right: 0;
                    -webkit-transform-origin: center right;
                    transform-origin: center right;
                }

            .progress .progress-value {
                position: absolute;
                top: 0;
                left: 0;
            }

        /*******************/
        .nav-link.active{
            color: red !important;
        }
        .navigation .nav-link:hover {
            cursor:pointer;
        }
    </style>
    <link href="~/Content/maitrise.css" rel="stylesheet" />
}

<div class="container ">

    <div class="row my-2">
        <div class="col-xl-1 col-sm-2 mr-2">
            <img width="80" height="80" class="rounded-circle imgProfile" src="@urlProfil@(invocateur.ImageProfil).png">
            <span class="lvl">@invocateur.Niveau</span>
        </div>
        <div class="col-4">
            <div class="mb-2"><span class="profilName">@invocateur.Name</span></div>
            <div><span class="btn btn-success rounded-pill">@invocateur.Region</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <ul class="nav nav-tabs navigation">
                <li class="nav-item">
                    <a class="nav-link onglet " data-target="statistiques">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link onglet active" data-target="maitrise">Maitrise</a>
                </li>
            </ul>
        </div>


    </div>
    <div class="row ongletContainer" id="statistiques" style="display:none">
        @Html.Partial("_UserStats",Model.DernieresParties)
    </div>

    <div id="maitrise" class="row ongletContainer">
        @Html.Partial("_UserMaitrise",Model)
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script>
        $(function () {

            $(".progress").each(function () {

                var value = $(this).attr('data-value');
                var left = $(this).find('.progress-left .progress-bar');
                var right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }

            })

            function percentageToDegrees(percentage) {

                return percentage / 100 * 360

            }

        });

        $(".onglet").click(function () {
            //Affichage onglet
            $(".onglet").removeClass("active");
            $(this).addClass("active");

            //Gestion fenêtre
            $(".ongletContainer").hide();
            $("#" + $(this).attr("data-target")).show();
        });
    </script>

}
