@using PocketSummonner.Models.BDD
@model AccueilModel
@{
    /**/
    string urlProfil = "http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/";
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_NotConnected.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/homepage.css" rel="stylesheet" />

<div class="search-container diapo">
    <img id="logo" src="~/Content/img/logo/logoT.png" height="200" />

    <!-- The form -->
    <form class="example" action="@Url.Action("Recherche","Invocateur")" style="width: 50%;">
        <input type="text" placeholder="Rechercher un invocateur.." name="name">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 container-pres">
            <div class="presentoir">
                <i class="fas fa-users"></i>
                <span>Invocateurs</span><br />
                <span class="description">Rechercher, ajouter</span>
            </div>
            <div class="presentoir">
                <i class="fas fa-history"></i>
                <span>Historique</span><br />
                <span class="description">Dernières parties</span>
            </div>
            <div class="presentoir">
                <i class="fas fa-chart-line"></i>
                <span>Maitrise</span><br />
                <span class="description">Consulter son avancée</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <table class="table table-borderless table-striped" width="100%">
                <caption class="border-bottom" style="caption-side: top;margin-bottom: 10px;">Derniers joueurs consultés</caption>
                @foreach (Invocateur inv in Model.lastInvocateeur)
                {
                    <tr style="padding: 10px; border: none !important;">
                        <td class="borderless"><img src="@(urlProfil + inv.ImageProfil + ".png")" width="40" class="rounded-circle" /></td>
                        <td style="vertical-align: top; line-height: 18px;">@inv.Name <br /><strong class="text-secondary">@inv.Region</strong></td>
                        <td>@(inv.Tier != null ? inv.Tier + " " + inv.Rank : "UNRANKED")</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-6">

            <table class="table table-borderless table-striped" width="100%">
                <caption class="border-bottom" style="caption-side: top;margin-bottom: 10px;">Derniers scores</caption>
                @foreach (Invocateur inv in Model.topMasteries)
                {
                    <tr style="padding: 10px; border: none !important;">
                        <td class="borderless"><img src="@(urlProfil + inv.ImageProfil + ".png")" width="40" class="rounded-circle" /></td>
                        <td style="vertical-align: top; line-height: 18px;">@inv.Name <br /><strong class="text-secondary">@inv.Region</strong></td>
                        <td style="vertical-align: top; line-height: 18px;">@inv.Maitrises.Sum(x => x.Niveau) <br /><strong class="text-secondary">Points de maitrise</strong></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

