<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    <link href="~/Content/Accueil.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/37f1613248.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="container-fluid p-0 body-content">
        @RenderBody()
    </div>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
