@{ 
    PocketSummonner.Helpers.Fonctions utils = new PocketSummonner.Helpers.Fonctions(this.Context.Request);
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    <script src="https://kit.fontawesome.com/37f1613248.js" crossorigin="anonymous"></script>
    <link href="~/Content/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="links">
        <div>
            <i class="fa fa-home"></i>
            <a class="nav-link" href="@Url.Action("Index","Accueil")">Accueil</a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <img src="http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/@(utils.CurrentUser().invocateur.ImageProfil).png" width="30" class="rounded-circle" />
                <a class="nav-link" href="@Url.Action("Profil","Invocateur", new { summonerId = utils.CurrentUser().invocateur.Id, serveur = utils.CurrentUser().invocateur.Region })">Profil</a>
            </div>
            <div>
                <i class="fa fa-power-off"></i>
                <a class="nav-link" href="@Url.Action("Logout","Login")">Déconnexion</a>
            </div>
        }

    </div>

    <div class="container-fluid p-0 body-content">
        @RenderBody()
    </div>
    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
        <div class="overlay-content">
            <form action="@Url.Action("Recherche","Invocateur")" method="post">
                <input type="text" placeholder="Rechercher un invocateur.." name="name">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        // Open the full screen search box
        function openCloseSearch() {
            $("#myOverlay").toggle();
        }

        // Close the full screen search box
        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }

        $(() => {
            $("#search").click(function () {
                openCloseSearch();
            });
        })
    </script>
</body>
</html>
