@using PocketSummonner.Models.BDD
@model List<Joueur>
@{ 
    Invocateur invocateur = Model.First().Invocateur;
    string urlProfil = "http://ddragon.leagueoflegends.com/cdn/10.11.1/img/profileicon/";
}
<div class="col-xl-4 col-sm-12 ">
    <div class="row">
        <div class="col-12 mb-2 ">
            <div class="card ">
                <div class="card-body rank">
                    <div class="progress" data-value='@invocateur.LeaguePoints'>
                        <span class="progress-left">
                            <span class="progress-bar" style="border-color: @PocketSummonner.Helpers.Fonctions.TierColor(invocateur.Tier);"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar" style="border-color: @PocketSummonner.Helpers.Fonctions.TierColor(invocateur.Tier)"></span>
                        </span>
                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center"
                             style="overflow: hidden;">
                            <img src="~/Content/img/assets/@(invocateur.Tier).png" width="60" alt="">
                        </div>
                    </div>
                    <div style="width: 100px; font-size: 0.9em;">
                        <span style="color:@PocketSummonner.Helpers.Fonctions.TierColor(invocateur.Tier)">
                            @(invocateur.Tier != null ? invocateur.Tier : "UNRANKED") @invocateur.Rank
                        </span><br />
                        <span class="text-success">@invocateur.Win Victoires</span><br />
                        <span class="text-danger"> @invocateur.Losses Défaites</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-12 col-xl-8">
    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-8"><h4>Historique</h4></div>
                <div class="col-2">
                    <h6 class="text-center">@Model.Where(x => x.Victoire).Count()<br><strong class="text-success">Victoires</strong></h6>
                </div>
                <div class="col-2">
                    <h6 class="text-center">@Model.Where(x => !x.Victoire).Count()<br><strong class="text-danger">Défaites</strong></h6>
                </div>
            </div>
        </div>
        @foreach (Joueur j in Model)
        {
            <div class="card-body pr-2">
                <div class="game @(j.Victoire ? "v" : "d")">
                    <div>
                        <div>
                            <div>
                                <span class="@(j.Victoire ? "victory" : "defeat")">@(j.Victoire ? "Victoire" : "Défaite")</span><br>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class="txt1">Level @j.Level</span><br>
                                <span class="txt2">@(j.Partie.Duree / 60) min</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <br>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span class="txt1">@j.NbTue/@j.NbMort/@j.NbAssist</span><br>
                                <span class="txt2">KDA : @j.KDA</span>
                            </div>
                        </div>

                    </div>
                    <div class="champion">
                        <div>
                            <img src="@j.Champion.Image" class="border champ">
                        </div>
                        <div class="spells">
                            <img src="@j.Sort1.UrlImage" class="border spell">
                            <img src="@j.Sort2.UrlImage" class="border spell">
                        </div>
                    </div>
                    <div>
                        <div class="line">
                            <img src="@(j.Equipements.ElementAtOrDefault(0) != null ? j.Equipements.ElementAt(0).Image : "/Content/img/assets/empty.png")">
                            <img src="@(j.Equipements.ElementAtOrDefault(1) != null ? j.Equipements.ElementAt(1).Image : "/Content/img/assets/empty.png")">
                            <img src="@(j.Equipements.ElementAtOrDefault(2) != null ? j.Equipements.ElementAt(2).Image : "/Content/img/assets/empty.png")">
                        </div>
                        <div class="line mb-0">
                            <img src="@(j.Equipements.ElementAtOrDefault(3) != null ? j.Equipements.ElementAt(3).Image : "/Content/img/assets/empty.png")">
                            <img src="@(j.Equipements.ElementAtOrDefault(4) != null ? j.Equipements.ElementAt(4).Image : "/Content/img/assets/empty.png")">
                            <img src="@(j.Equipements.ElementAtOrDefault(5) != null ? j.Equipements.ElementAt(5).Image : "/Content/img/assets/empty.png")">
                        </div>
                    </div>
                    <div>
                        <div class="players">
                            <div class="column">
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(0).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(0).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(0).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(1).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(1).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(1).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(2).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(2).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(2).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(3).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(3).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(3).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(4).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(4).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(4).Invocateur.Name</span>
                                </div>
                            </div>
                            <div class="column">
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(5).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(5).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(5).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(6).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(6).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(6).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(7).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(7).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(7).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(8).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(8).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(8).Invocateur.Name</span>
                                </div>
                                <div class="player txt1">
                                    <img title="@j.Partie.Joueurs.ElementAt(9).Invocateur.Name"
                                         src="@urlProfil@(j.Partie.Joueurs.ElementAt(9).Invocateur.ImageProfil).png">
                                    <span class="playerName">@j.Partie.Joueurs.ElementAt(9).Invocateur.Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
